
body {
	background-color: #9fe2bf;
}

#name {
	font-family: 'Calligraffitti', cursive;
	font-size: 22px;
	padding-top: 1px;
}

.centered {
	text-align: center;
}

#intro {
	width:360px; 
	padding:20px; 
	border:1px solid black;
	margin: 20px auto;
}

nav a {
	padding:20px;
}

nav {
	padding: 17px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

footer {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.emphasis {
	font-weight: 600;
}