
body {
	background: black;
}

.container {
	padding: 40px 100px 40px 100px;
	margin: 15px;
	background: white;
}

.centered {
	text-align: center;
}

.headfont {
	font-family: "Titillium Web", Helvetica, Arial, sans-serif;
}

li {
	font-family: 'Miriam Libre', sans-serif;
	font-style: italic;
}

#divimage {
	background-color: blue;
	background-image: url("https://f4.bcbits.com/img/a3435944551_10.jpg");
	background-size: cover;
	width:450px;
	height:450px;
	margin: 0 auto;
}