
body {
	background-color: #9fe2bf;
}

#name {
	font-family: 'Calligraffitti', serif;
	font-size: 22px;
	padding: 17px;
}

.centered {
	text-align: center;
}

#intro {
	width:400px; 
	padding:20px; 
	border:1px solid black;
	margin: 20px auto;
}

#homeimg {
	width:400px; 
	height:150px; 
	margin-top: 20px; 
	box-shadow: 10px 10px 5px #888888;
}

nav {
	padding-left:20px;
}

nav li {
	padding: 0px 15px 0px 15px;
}

footer,
nav {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: white;
}

.emphasis {
	font-weight: 600;
}

a {
	color: black;
}

a:link {
	color: black;
}

a:visited {
	color: gray;
}

a:hover {
	font-weight: 600;
}

a:active {
	text-decoration: none;
}

p {
	padding:0px 50px 0px 50px;
}